.head-contents {
  display: table;
}
.head-contents .h1 {
  display: table-cell;
}
.head-contents .myinfo {
  display: table-cell;
}
.head-contents .myinfo li {
  float: left;
}
.head-contents .myinfo li::after {
  content: none;
  display: block;
  clear: both;
}
footer li {
  float: left;
}
footer li::after {
  content: none;
  display: block;
  clear: both;
}
button {
  background-color: #fff;
}
dl dd:last-child {
  float: right;
}
dl dd::after, .clearfix::after {
  clear: both;
  display: block;
  content: "";
  height: 0;
}
dl dd span {
  display: block;
  font-size: 12px;
  text-align: right;
}
.teams-head h3 {
  float: right;
}
form input[type=checkbox] {
  width: auto;
}
.team-member label {
  display: block;
}
p.messageforme {
  text-align: right;
}
